#btnBackToTop{
    position: fixed;
    bottom: 5%;
    right: 1%;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    cursor: pointer;
    z-index: 99;
}