.carousel__prev__arrow{
  top: 47% !important;
  left: 0rem !important;
  width: 5rem !important;
  height: 10rem !important;
  line-height: 12rem !important;
  text-align: center !important;
  z-index: 1;
  transform: rotate(180deg) !important;
}
.carousel__next__arrow{
  top: 57% !important;
  right: 0 !important;
  width: 5rem !important;
  height: 10rem !important;
  line-height: 12rem !important;
  text-align: center !important;
}
.carousel__prev__arrow:before,
.carousel__next__arrow:before {
  font-family: none !important;
  content: url(https://tarkikromanski.github.io/files/arrow-slider.png) !important;
  background-color: transparent;
  border: none;
}

// Responsive for screen > 320px and < 480px
@include responsive ('extra-small'){
  .carousel__prev__arrow{
    top: 38% !important;
    left: -0.5rem !important;
  }
  .carousel__next__arrow{
    top: 60% !important;
    right: -0.5rem !important;
  }
}

// Responsive for screen > 480px and < 576px
@include responsive ('very-small'){
  .carousel__prev__arrow{
    top: 42% !important;
  }
}
