.carousel__prev__arrow{
  top: 47% !important;
  left: 0rem !important;
  width: 5rem !important;
  height: 10rem !important;
  line-height: 12rem !important;
  text-align: center !important;
  z-index: 1;
  transform: rotate(180deg) !important;
}
.carousel__next__arrow{
  top: 57% !important;
  right: 0 !important;
  width: 5rem !important;
  height: 10rem !important;
  line-height: 12rem !important;
  text-align: center !important;
}
.carousel__prev__arrow:before,
.carousel__next__arrow:before {
  font-family: none !important;
  content: url(https://tarkikromanski.github.io/files/arrow-slider.png) !important;
  background-color: transparent;
  border: none;
}

// Responsive for screen > 320px and < 480px
@include responsive ('extra-small'){
  .carousel__prev__arrow{
    top: 40% !important;
    left: -0.5rem !important;
  }
  .carousel__next__arrow{
    top: 61.5% !important;
    right: -0.5rem !important;
  }
}

// Responsive for screen > 480px and < 576px
@include responsive ('very-small'){
  .carousel__prev__arrow{
    top: 42.5% !important;
  }
  .carousel__next__arrow{
    top: 58% !important;
    right: -0.5rem !important;
  }
}

// Responsive for screen > 576px and < 768px
@include responsive ('small'){
  .carousel__prev__arrow{
    top: 42% !important;
    left: 0 !important;
  }
  .carousel__next__arrow{
    right: 0 !important;
  }
}

// Responsive for screen > 576px and < 768px
@include responsive ('small'){
  .carousel__prev__arrow{
    top: 42% !important;
    left: -0.5rem !important;
  }
  .carousel__next__arrow{
    right: -0.5rem !important;
  }
}

// Responsive for screen > 768px and < 992px 
@include responsive ('medium'){
  .carousel__prev__arrow{
    top: 45% !important;
    left: -0.5rem !important;
  }
  .carousel__next__arrow{
    right: -0.5rem !important;
  }
}

// Responsive for screen > 992px and < 1200px 
@include responsive ('large'){
  .carousel__prev__arrow{
    top: 47% !important;
    left: -0.5rem !important;
  }
  .carousel__next__arrow{
    right: -0.5rem !important;
  }
}

// Responsive for screen > 1200px and < 1400px 
@include responsive ('extra-large'){
  .carousel__prev__arrow{
    top: 48% !important;
    left: -0.5rem !important;
  }
  .carousel__next__arrow{
    right: -0.5rem !important;
  }
}
