.carousel__container{
    overflow: hidden;
    .carousel{
        margin-top: 0.8rem;
        max-height: 50rem;
        position: relative;
        .slick-list{
            overflow: visible;
        }
        .slick-slide{
            height: 50rem;
            padding: 3rem;
            background-color: $bg-base-color;
            box-shadow: inset -141px -129px 200px rgba(0, 0, 0, 0.25);
            transition: transform ease 0.3s;
            color: $text-on-base-color;
            cursor: pointer;
            img{
                width: 100%;
            }
        }
        .slick-current.slick-slide{
            position: relative;
        }
        .slick-track {
            padding-top: 53px;
            padding-bottom: 53px;
        }
        .slick-dots{
            position: absolute;
            bottom: 2rem;
            left: 0;
            li{
                margin: 0 0.25rem;
            }
            button{
                width: 1.25rem;
                height: 1.25rem;
                padding: 0;
                background-color: $dot-not-active;
                border-radius: 100%;
                text-indent: -9999px;
                border: none;
            }
            li.slick-active button{
                background-color: $item-hover;
            }
        }
    }
}

// Responsive for screen > 320px and < 480px
@include responsive ('extra-small'){
    .carousel__container{
        .carousel{
            max-height: 25rem;
            .slick-slide{
                height: 20rem;
                padding: 1rem;
            }
            .slick-dots{
                left: 0.5rem;
                bottom: 0;
                button{
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

// Responsive for screen > 480px and < 576px
@include responsive ('very-small'){
    .carousel__container{
        .carousel{
            max-height: 30rem;
            .slick-slide{
                height: 25rem;
                padding: 1rem;
            }
            .slick-dots{
                left: 0.5rem;
                bottom: 0;
                button{
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

// Responsive for screen < 576px and > 320px 
@include responsive ('small'){
    .carousel__container{
        max-height: 35rem;
        .carousel{
            max-height: 35rem;
            .slick-slide{
                height: 40rem;
                padding: 2rem;
            }
        }
    }
}