.movie{
    background-color: #1a1d24;
    padding-top: 5rem;
    .movie__card__container{
        overflow: hidden;
        width: 86.4%;
        margin: 0 auto;
        .nav-tabs.navCenter{
            text-align: center;
            border: none;
            justify-content: center;
            .nav-item{
                margin: 0 2rem;
                &:focus{
                    outline: none;
                }
                .nav-link{
                    background-color: #1a1d24;
                    @include styleText($fs-6,$text-on-base-color,$fw-bold-2);
                    transition: all 0.5s;
                    padding: 0;
                    border: 1px solid #1a1d24;
                    position: relative;
                    // nav-link underline
                    &::after{
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: #fff;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0%;
                    }
                    &:hover{
                        color:$item-active;
                    }
                    &:hover::after{
                        width: 100%;
                        left: 0;
                    }
                }
                .nav-link.active{
                    color:$item-active;
                    &::after{
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
        .slider{
            padding: 0 5rem;
            max-width: 1350px;
            width: 420px;
            margin: 0 auto;
            .slick-list{
                overflow: visible;
            }
            .slick-slide{
                height: 45rem;
                // background-color: #344c65;
                // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                border-radius: 0.5rem;
                transform: scale(0.85);
                transition: transform ease 0.3s;
                color: $text-on-base-color;
                cursor: pointer;
                &:not(.slick-current){
                  filter: brightness(0.5);
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .slick-current.slick-slide{
                transform: scale(0.9);
                position: relative;
                z-index: 1;
            }
            .slick-track {
                padding-top: 2rem;
                padding-bottom: 2rem;
                overflow: hidden;
            }
        }
        .slick-dots{
            position: absolute;
            bottom: 2rem;
            left: 0;
            li{
                margin: 0 0.25rem;
            }
            button{
                width: 1rem;
                height: 1rem;
                padding: 0;
                background-color: $dot-not-active;
                border-radius: 100%;
                text-indent: -9999px;
                border: none;
            }
            li.slick-active button{
                background-color: $item-hover;
            }
        }
    } 
}