.navbar__container {
  position: relative;
  z-index: 2;
  .container-fluid {
    padding-left: 0;
    .navbar {
      background-color: $header-primary;
      box-shadow: 0 0 0.15rem rgba(0, 0, 0, 0.3);
      position: fixed;
      transition: all 0.5s;
      height: 6rem;
      width: 100%;
      &:hover {
        background-color: #fff;
      }
      .left {
        @include styleText($fs-7, $text-base-color, $fw-bold-2);
        line-height: $line-height-0;
      }
      .navbar-toggler {
        position: absolute;
        left: 1rem;
        top: 1rem;
        bottom: 1rem;
        width: 7%;
        background-color: $header-primary;
        line-height: $line-height-0;
        padding: 0.1rem 0;
        border-radius: 0.5rem;
        z-index: 1;
        .navbar__toggler__icon{
            content: "";
            position: absolute;
            top: 1.75rem;
            left: 1rem;
            border-radius: 0.1rem;
            width: 3rem;
            height: 0.2rem;
            background-color: $bg-base-color;
            display: block;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
            &::before{
                position: absolute;
                top: -1rem;
                display: block;
                width: 3rem;
                height: 0.2rem;
                content: "";
                border-radius: 0.1rem;
                background-color: $bg-base-color;
                transition: all ease-in-out 0.3s;
            }
            &::after{
                position: absolute;
                bottom: -1rem;
                display: block;
                width: 3rem;
                height: 0.2rem;
                content: "";
                border-radius: 0.1rem;
                background-color: $bg-base-color;
                transition: all ease-in-out 0.3s;
            }
        }
        .navbar__toggler__icon.active{
            background-color: $header-primary;
            &::before{
                top: 0;
                transform: rotate(45deg);
                background-color: $nav-tab-active;
                transition: all ease-in-out 0.3s;
            }
            &::after{
                bottom: 0;
                transform: translateY(-10%) rotate(-45deg);
                background-color: $nav-tab-active;
                transition: all ease-in-out 0.3s;
            }
        }
      }
      .navbar-collapse {
        align-items: center;
        position: relative;
        .navbar-nav {
            position: absolute;
            left: 33rem;
            .nav-item {
                .nav-link {
                @include styleText($fs-3, $text-base-color, $fw-bold-2);
                transition: all 0.2s;
                margin-right: 2rem;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                &:hover {
                    color: $item-hover;
                }
                }
            }
            .select__location {
                position: absolute;
                right: -45rem;
                padding: 0.5rem 0 0 1rem;
                display: flex;
                color: $text-on-header-second;
                height: 5rem;
                line-height: $line-height-0;
                .map__icon {
                  margin-right: 1rem;
                  font-size: $fs-6;
                }
                .dropdown {
                  position: relative;
                  .btn-secondary.focus,
                  .btn-secondary:focus {
                    box-shadow: none;
                  }
                  .btn-secondary,
                  .btn__location {
                    background-color: inherit;
                    border: none;
                    @include styleText($fs-3, $text-on-header-second, $fw-bold-2);
                    padding: 0;
                  }
                  .dropdown-toggle::after {
                    margin-left: 2rem;
                  }
                  .dropdown-menu {
                    width: 14rem;
                    border-radius: 5px;
                    position: absolute;
                    top: 4rem;
                    left: -2rem;
                    max-height: 30rem;
                    overflow-y: auto;
                    overflow-x: hidden;
                    transition: all ease-in-out 0.5s;
                    ::-webkit-scrollbar {
                      width: 20px;
                    }
                    .dropdown-item {
                      font-size: $fs-3;
                      padding-left: 2rem;
                      &:hover {
                        color: $button-text-color;
                        background-color: $button-location-hover;
                      }
                    }
                  }
                }
              }
        }
      }
      .right {
        display: flex;
        color: $text-on-header-second;
        position: absolute;
        right: 17rem;
        .user__account {
          position: relative;
          cursor: pointer;
          padding-right: 1.1rem;
          display: flex;
          .user__avatar {
            padding-right: 0.5rem;
            font-size: $fs-7;
            height: 5rem;
            line-height: $line-height-0;
          }
          .user__account__name {
            @include styleText($fs-3, $text-on-header-second, $fw-bold-2);
            height: 5rem;
            line-height: 5rem;
            &:hover {
              color: $item-active;
            }
          }
          ::after {
            content: "";
            position: absolute;
            right: 0;
            height: 3rem;
            top: 50%;
            transform: translateY(-50%);
            border-right: 1px solid #fff;
            border-right-color: #e9e9e9;
          }
        }
      }
    }
  }
}

// Responsive for screen > 320px and < 480px
@include responsive ('extra-small'){
  .navbar__container{
    .container-fluid{
      .navbar{
        padding: 0;
        .left{
          position: absolute;
          left: 47%;
          font-size: $fs-4;
        }
        .navbar-toggler{
          width: 15%;
          left: 0.5rem;
          padding: 0;
          .navbar__toggler__icon{
            left: 1rem;
            width: 2.5rem;
            &::before{
              width: 2.5rem;
              top:-0.8rem;
            }
            &::after{
              width: 2.5rem;
              bottom: -0.8rem;
            }
          }
        }
        .navbar-collapse{
          width: 100%;
          height: 100%;
          &:focus{
            outline: none;
          }         
          .navbar-nav{
            top: 5.5rem;
            left: -1rem;
            background-color: $header-primary;
            width: 58%;
            height: 17rem;
            .nav-item{
              .nav-link{
                  text-align: left;
                  padding-left: 2rem;
                  transition: all ease-in-out 0.2s;
                  @include styleText($fs-3,$text-base-color,$fw-bold-2);
                  margin: 0;
                  &::after{
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $bg-base-color;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0%;
                  }
                  &:hover{
                    color:$item-active;
                  }
                  &:hover::after{
                    width: 100%;
                    left: 0;
                  }
              }
            }
            .select__location{
              left: 1.2rem;
              bottom: 0.5rem;
              align-items: center;
              .map__icon{
                  display: none;
              }   
              .dropdown{
                  .btn__location{
                      @include styleText($fs-3,$text-base-color,$fw-bold-2);
                      &:hover{
                          color: $item-active;
                      }
                  }
                  .dropdown-toggle::after{
                      margin-left: 1rem;
                  }
                  .dropdown-menu{
                      width: 32.2rem;
                      max-height: 24rem;
                      left: -1.3rem;
                      top: -18.8rem;
                      text-align: center;
                  }
              }
            }
          }
        }
        .right{
          right: 1rem;
          .user__account{
            display: block;
            position: relative;
            padding-right: 0;
            padding-top: 0.5rem;
            .user__avatar{
              padding: 0;
              height: 2rem;
              line-height: $line-height-0;
              margin-left: 1.5rem;
            }
            .user__account__name{
              font-size: $fs-0;
              height: 2rem;
              line-height: $line-height-0;
              width: 100%;
            }
            ::after{
              display: none;
            }
          }
        }
      }
    }
  }
}

// Responsive for screen > 480px and < 576px 
@include responsive('very-small'){
  .navbar__container{
    .container-fluid{
      .navbar{
        .navbar-toggler{
          width: 10%;
        }
        .navbar-collapse{
          .navbar-nav{
            .nav-item{
              .nav-link{
                padding-left: 2.5rem;
              }
            }
            .select__location{
              left: 1.5rem;
              .dropdown{
                .dropdown-menu{
                  width: 40rem;
                  max-height: 30rem;
                  left: 30%;
                }
              }
            }
          }
        }
        .right{
          .user__account{
            display: flex;
            padding:0;
            .user__avatar{
              height: 2.5rem;
            }
            .user__account__name{
              font-size: $fs-1;
              height: 2.5rem;
              line-height: 2.5rem;
            }
          }
        }
      }
    }
  }
}

// Responsive for screen < 576px and > 320px 
@include responsive ('small'){
    .navbar__container{
        .container-fluid{
            .navbar{
                padding-left: 0;
                padding-right: 0;
                .left{
                  font-size: $fs-7;
                    position: absolute;
                    left: 21rem;
                }
                .navbar-toggler{
                    width: 8%;
                    .navbar__toggler__icon{
                        left: 0.7rem;
                    }
                }
                .navbar-collapse{
                    transition: all 0.7s;
                    height: 100%;
                    &:focus{
                      outline: none;
                    }
                    .navbar-nav{
                        top: 5.6rem;
                        left: 0;
                        background-color: $header-primary;
                        width: 38%;
                        height: 20rem;
                        .nav-item{
                            .nav-link{
                                text-align: left;
                                padding-left: 5.5rem;
                                @include styleText($fs-4,$text-base-color,$fw-bold-2);
                                transition: all ease-in-out 0.2s;
                                margin: 0;
                                &::after{
                                  background: none repeat scroll 0 0 transparent;
                                  bottom: 0;
                                  content: "";
                                  display: block;
                                  height: 2px;
                                  left: 50%;
                                  position: absolute;
                                  background: $bg-base-color;
                                  transition: width 0.3s ease 0s, left 0.3s ease 0s;
                                  width: 0%;
                                }
                                &:hover{
                                  color:$item-active;
                                }
                                &:hover::after{
                                  width: 100%;
                                  left: 0;
                                }
                            }
                        }
                        .select__location{
                            left: 4.5rem;
                            bottom: 1rem;
                            align-items: center;
                            .map__icon{
                                display: none;
                            }   
                            .dropdown{
                                .btn__location{
                                    @include styleText($fs-4,$text-base-color,$fw-bold-2);
                                    &:hover{
                                        color: $item-active;
                                    }
                                }
                                .dropdown-toggle::after{
                                    margin-left: 1rem;
                                }
                                .dropdown-menu{
                                    width: 40rem;
                                    max-height: 55.5rem;
                                    left: -15rem;
                                    top: -15.5rem;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    
                }
                .right{
                    right: 1rem;
                    top: 0.8rem;
                    .user__account{
                        padding: 0;
                        .user__avatar{
                            font-size: 3rem;
                        }
                        .user__account__name{
                            @include styleText($fs-3, $text-on-header-second, $fw-bold-2);
                        }
                        ::after{
                            content: none;
                        }
                    }
                }
            }
        }
    }
}
