.theater{
    width:70% !important;
    margin-top: 120px;
    border: 1px solid #ebebec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
}
.theater__content {
    .nav-pills {
        .nav-link{
            // border-top: 1px dotted #ebebec;
            border-right: 1px solid #ebebec;
            text-align: center;
            padding: 20px;
            position: relative;
            img {
                width: 50px;
            }  
            
        }
        ::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: calc(100% - 40px);
            transform: translateX(-50%);
            border-bottom: 1px solid #000;
            border-color: rgba(238,238,238,.88);
        }   
        .nav-link.active,.show>.nav-link{
            background:none;
        }   
    }
}
@include responsive("large") {
    .theater {
        width: 100% !important;
        .theater__content {
            .nav-pills {
                .nav-link{
                    // border-top: 1px dotted #ebebec;
                    border-right:none;
                    text-align: center;
                    padding: 20px;
                    position: relative;
                    img {
                        width: 50px;
                    }  
                    
                }
            }
        }
        
    }
    .container {
        width: 100% !important;
    }
}   
@include responsive("very-small") {
    .theater__content {
        .nav-pills {
            .nav-link{
                // border-top: 1px dotted #ebebec;
                border-right:none;
                text-align: center;
                padding: 20px;
                position: relative;
                img {
                    width: 30px;
                }  
                
            }
        }
    }
}   